{% include 'admin_header.html' %}
{% include 'sub_header.html' %}

<center>
	{% if data['view']%}<br><br>
	<h1>User Details</h1><br>
	<form>
		<table class="table">
			<tr>
				<th>Sl.No</th>
				<th>Name</th>
				<th>Phone</th>
				<th>Email</th>
				<th>House Name</th>
				<th>Place</th>
				<th>Landmark</th>
			</tr>
			{% for i in data['view'] %}
			<tr>
				<td>{{loop.index}}</td>
				<td>{{i['name']}}</td>
				<td>{{i['phone']}}</td>
				<td>{{i['email']}}</td>
				<td>{{i['house_name']}}</td>
				<td>{{i['place']}}</td>
				<td>{{i['landmark']}}</td>
				<td><a class="btn btn-info" href="admin_view_users_pet?user_id={{ i['user_id'] }}">View Pets</a></td>
			</tr>
			{% endfor %}
		</table>
	</div>
	</form>
	{% else %}<br><br><h1>No Users</h1><br><br>{% endif %}
</center>
{% include 'sub_footer.html' %}
{% include 'footer.html' %}