{% include 'admin_header.html' %}
{% include 'sub_header.html' %}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD3MPnSnyWwNmpnVEFkaddVvy_GWtxSejs&sensor=false"></script>
    <script type="text/javascript">
        // window.onload = function () {
          function myFunction(){
            var mapOptions = {
                center: new google.maps.LatLng(9.9763482, 76.286272),
                zoom: 14,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var infoWindow = new google.maps.InfoWindow();
            var latlngbounds = new google.maps.LatLngBounds();
            var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
            google.maps.event.addListener(map, 'click', function (e) {
                alert("Latitude: " + e.latLng.lat() + "\r\nLongitude: " + e.latLng.lng());
              document.getElementById('lat').value = e.latLng.lat();
                document.getElementById('lon').value = e.latLng.lng();
           

            });
        }
    </script>
<center>
		<br>
		<h1>SHOP REGISTRATION</h1>
		<br><br>
		{% if data['view_update'] %}
		<h3>Update Details</h3><br>
	<form method="post" enctype="multipart/form-data">
	<table>
		<tr>
			<th>Shop Name</th>
			<td><input type="text" name="pname" value="{{data['view_update'][0]['lab_name']}}" pattern="[a-zA-Z\s]{0,30}" required class="form-control"></td>
		</tr>
		<tr>
			<th>email</th>
			<td><input type="email" name="email" value="{{data['view_update'][0]['email']}}" required class="form-control"></td>
		</tr>
		<tr>
			<th>Phone Number</th>
			<td><input type="text" name="phone" value="{{data['view_update'][0]['phone']}}" required class="form-control" pattern="[0-9]{10}"></td>
		</tr>
		<tr><td><br></td></tr>
		<tr>
			<th align="center" colspan="2"><input class="btn btn-success" type="submit" name="update_submit" value="Update"></th>
		</tr>
	</table>
	</form>
		{% else %}
	<form method="post" enctype="multipart/form-data">
	<table>
		<tr>
			<th>Shop Name</th>
			<td><input type="text" name="pname" pattern="[a-zA-Z\s]{0,30}"  required class="form-control"></td>
		</tr>
		<tr>
			<th>email</th>
			<td><input type="email" name="email" required class="form-control"></td>
		</tr>
		<tr>
			<th>Phone Number</th>
			<td><input type="text" name="phone" required class="form-control" pattern="[0-9]{10}"></td>
		</tr>


		<tr>	
           <th>Latitude</th>
            <td><input type="text" name="lat"  class="form-control" id="lat">
            <a class="btn btn-success" onclick="myFunction();"><b>View Map</b></a>
            </td>
        </tr>
         <tr>
            <th>Longitude</th>
            <td ><br><input type="text" name="lon"  class="form-control" id="lon"></td>
        </tr>
		<tr><td><br></td></tr>
		<tr>
			<th align="center" colspan="2"><input class="btn btn-success" type="submit" name="submit" value="Register"></th>
		</tr>
	</table>

	<table>
       <tr>

          <td>
	     <div id="dvMap" style="width: 600px; height: 400px"></div>

	   </td>

</tr>
    </table>

	</form>

		{% endif %}
<br><br>
{% if data['view'] %}
<h2>Shop Details</h2><br>
<table class="table">
	<tr>
		<th>Sl.No</th>
		<th>Shop Name</th>
		<th>Phone</th>
		<th>Email</th>
		<th></th>
		<th></th>
	</tr>
	{% for r in data['view'] %}
	<tr>
		<td>{{ loop.index }}</td>
		<td>{{ r['name'] }}</td>
		<td>{{ r['phone'] }}</td>
		<td>{{ r['email'] }}</td>

<td><a class="btn btn-primary" href="http://www.google.com/maps?q={{r['latitude'] }},{{r['longitude'] }}">Click Me</a></td>
		<td>
			<a class="btn btn-success" href="?action=update&id={{r['login_id']}}">Update</a>
			<a class="btn btn-danger" href="?action=delete&id={{r['login_id']}}">Delete</a>
		</td>
	</tr>
	{% endfor %}
</table>
</div>
{% endif %}
	</center>
{% include 'sub_footer.html' %}
{% include 'footer.html' %}