{% include 'admin_header.html' %}
{% include 'sub_header.html' %}
<center>
		<br>
		<h1>LABORATORY REGISTRATION</h1>
		<br><br>
		{% if data['view_update'] %}
		<h3>Update Details</h3><br>
	<form method="post" enctype="multipart/form-data">
	<table>
		<tr>
			<th>Laboratory Name</th>
			<td><input type="text" name="pname" value="{{data['view_update'][0]['lab_name']}}" pattern="[a-zA-Z\s]{0,30}" required class="form-control"></td>
		</tr>
		<tr>
			<th>email</th>
			<td><input type="email" name="email" value="{{data['view_update'][0]['email']}}" required class="form-control"></td>
		</tr>
		<tr>
			<th>Phone Number</th>
			<td><input type="text" name="phone" value="{{data['view_update'][0]['phone']}}" required class="form-control" pattern="[0-9]{10}"></td>
		</tr>
		<tr><td><br></td></tr>
		<tr>
			<th align="center" colspan="2"><input class="btn btn-success" type="submit" name="update_submit" value="Update"></th>
		</tr>
	</table>
	</form>
		{% else %}
	<form method="post" enctype="multipart/form-data">
	<table>
		<tr>
			<th>Laboratory Name</th>
			<td><input type="text" name="pname" pattern="[a-zA-Z\s]{0,30}"  required class="form-control"></td>
		</tr>
		<tr>
			<th>email</th>
			<td><input type="email" name="email" required class="form-control"></td>
		</tr>
		<tr>
			<th>Phone Number</th>
			<td><input type="text" name="phone" required class="form-control" pattern="[0-9]{10}"></td>
		</tr>
		<tr><td><br></td></tr>
		<tr>
			<th align="center" colspan="2"><input class="btn btn-success" type="submit" name="submit" value="Register"></th>
		</tr>
	</table>
	</form>
		{% endif %}
<br><br>
{% if data['view'] %}
<h2>Doctor Details</h2><br>
<table class="table">
	<tr>
		<th>Sl.No</th>
		<th>Lab Name</th>
		<th>Phone</th>
		<th>Email</th>
		<th></th>
	</tr>
	{% for r in data['view'] %}
	<tr>
		<td>{{ loop.index }}</td>
		<td>{{ r['lab_name'] }}</td>
		<td>{{ r['phone'] }}</td>
		<td>{{ r['email'] }}</td>
		<td>
			<a class="btn btn-success" href="?action=update&id={{r['login_id']}}">Update</a>
			<a class="btn btn-danger" href="?action=delete&id={{r['login_id']}}">Delete</a>
		</td>
	</tr>
	{% endfor %}
</table>
{% endif %}
	</center>
{% include 'sub_footer.html' %}
{% include 'footer.html' %}