{% include 'doctor_header.html' %}
{% include 'sub_header.html' %}
<center>
<h1 style="color: black">Add Medical Notes</h1>
	
	<form method="post">
		<table>
			<tr>
				<th style="text-align: right;">User Name :</th>
				<td style="color: brown">{{data['view1'][0]['uname']}}</td>
			</tr>
			<tr>
				<th style="text-align: right;">Phone :</th>
				<td style="color: brown">+91&nbsp;{{data['view1'][0]['phone']}}</td>
			</tr>
			<tr>
				<th style="text-align: right;">Pet Name :</th>
				<td style="color: brown">+91&nbsp;{{data['view1'][0]['name']}} - {{data['view1'][0]['breed']}}</td>
			</tr>
		</table><br>
		<div class="jumbotron">
		<table>
			<tr>
				<th><textarea pattern="[a-zA-Z0-9\s]" class="form-control" name="desc"></textarea>
				<td colspan="2" align="center"><input class="btn btn-info" type="submit" name="submit" value="Add"></td>
			</tr>
		</table></div>
		{% if data['view']%}
		<h3>Disease history</h3>
		<div style="height:200px; width: 500px; overflow-y: scroll;">
		<table class="table">
			<tr>
				<th>Sl.No</th>
				<th>Decsiption</th>
				<th>Date</th>
			</tr>
			{% for i in data['view'] %}
			<tr>
				<td>{{loop.index}}</td>
				<td>{{i['description']}}</td>
				<td>{{i['date_time']}}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	</form>
	{% else %}<br><br><h1>No Medical Notes</h1><br><br>{% endif %}
</center>
{% include 'sub_footer.html' %}
{% include 'footer.html' %}