{% include 'pharmacy_header.html' %}
{% include 'sub_header.html' %}
<center>
	<h1>Manage Pet Medicine</h1>
	<table class="table" style="width : 1100px;">
		<tr>
			<th>Doctor Name</th>
			<th>Qualification</th>
			<th>Doctor Ph.</th>
			<th>User Name</th>
			<th>User Ph.</th>
			<th>Pet Name</th>
			<th>Type</th>
			<th>Breed</th>
			<th>Age</th>
			<th>Medicine Prescription</th>
			<th>Date</th>
		</tr>
		{% for row in data['view_pre'] %}
		<tr>
			<td>{{ row['dname'] }}</td>
			<td>{{ row['qualification'] }}</td>
			<td>{{ row['dphone'] }}</td>
			<td>{{ row['pname'] }}</td>
			<td>{{ row['pphone'] }}</td>
			<td>{{ row['name'] }}</td>
			<td>{{ row['type'] }}</td>
			<td>{{ row['breed'] }}</td>
			<td>{{ row['age'] }}</td>
			<td>{{ row['med_pres_description'] }}</td>
			<td>{{ row['pre_date'] }}</td>
			{% if row['md_status']=="Forward" %}
			<td><a href="pharmacy_add_amount?book_id={{ row['book_id'] }}">Accept</a></td>
			{% elif data['md_status']=="Accept" %}
			<td><a href="pharmacy_add_amount?book_id={{ row['book_id'] }}">View Payments</a></td>
			{% endif %}
		</tr>
		{% endfor %}
	</table>
</center>
{% include 'sub_footer.html' %}
{% include 'footer.html' %} 