{% include 'pharmacy_header.html' %}
{% include 'sub_header.html' %}
<center><br>
<h1>Add Medicines</h1><br>
	<form method="post">
		<table>
			<tr>
				<th>Medicine Name</th>
				<td><input type="text" pattern="[a-zA-Z\s]{0,30}" class="form-control" name="m_name"></td>
			</tr>
			<tr>
				<th>Description:</th>
				<th><textarea pattern="[a-zA-Z\s]{0,30}" class="form-control" name="desc"></textarea></th>
			</tr>
			<tr>
				<th>Expiry Date</th>
				<td><input type="date" class="form-control"  name="e_date"></td>
			</tr>
			<tr>
				<th>Rate</th>
				<td><input type="number" min="0" class="form-control" name="rt"></td>
			</tr>
			<tr>
				<th>Available Quantity</th>
				<td><input type="number" min="0" class="form-control" name="available_qty"></td>
			</tr>
			<tr><td><br></td></tr>
			<tr>
				<td colspan="2" align="center"><input type="submit" class="btn btn-success" name="submit" value="Add"></td>
			</tr>
		</table>
<br><br>
	{% if data['viewr']%}
		<h2>Medicines Details</h2><br>
		<div style="height:200px; width: 700px; overflow-y: scroll;">
		<table class="table">
			<tr>
				<th>Sl.No</th>
				<th>Medicine Name</th>
				<th>Decsiption</th>
				<th>Expiry Date</th>
				<th>Rate</th>
				<th>Quantity</th>
				<th></th>
			</tr>
			{% for i in data['viewr'] %}
			<tr>
				<td>{{loop.index}}</td>
				<td>{{i['medicine_name']}}</td>
				<td>{{i['description']}}</td>
				<td>{{i['expiry_date']}}</td>
				<td>{{i['rate']}}</td>
				<td>{{i['available_qty']}}</td>
				<td><a style="color: maroon" href="?id={{i['medicine_id']}}">Remove</a></td>
			</tr>
			{% endfor %}
		</table>
	</div>
	</form><br><br>{% endif %}<br>
</center>

{% include 'sub_footer.html' %}
{% include 'footer.html' %}