{% include 'home_header.html' %}
{% include 'sub_header.html' %}
<center>
		<br>
		<h1>REGISTRATION</h1>
		<br><br>
	<form method="post" enctype="multipart/form-data">
	<table>
		<tr>
			<th>First Name</th>
			<td><input type="text" name="fname" required class="form-control"></td>
		</tr>
		<tr>
			<th>Last Name</th>
			<td><input type="text" name="lname" required class="form-control"></td>
		</tr>
		<tr>
			<th>Turf Place</th>
			<td><input type="text" name="turf_place" required class="form-control"></td>
		</tr>
		<tr>
			<th>Land Mark</th>
			<td><input type="text" name="land_mark" required class="form-control"></td>
		</tr>
		<tr>
			<th>Pincode</th>
			<td><input type="text" name="pincode" required class="form-control" pattern="[0-9]{6}"></td>
		</tr>
		<tr>
			<th>Latitude</th>
			<td><input type="text" required class="form-control" name="lat"></td>
		</tr>
		<tr>
			<th>Longitude</th>
			<td><input type="text" name="long" required class="form-control"></td>
		</tr>
		<tr>
			<th>Phone Number</th>
			<td><input type="text" name="phone" required class="form-control" pattern="[0-9]{10}"></td>
		</tr>
		<tr>
			<th>email</th>
			<td><input type="email" name="email" required class="form-control"></td>
		</tr>
		<tr>
			<th>Username</th>
			<td><input type="text" name="uname" required class="form-control" pattern="[0-9a-zA-Z]{0,30}"></td>
		</tr>
		<tr>
			<th>Password</th>
			<td><input type="password" pattern="[0-9a-zA-Z]{0,30}" name="passs" required class="form-control"></td>
		</tr>
		<tr><td><br></td></tr>
		<tr>
			<th align="center" colspan="2"><input class="btn btn-success" type="submit" name="submit" value="Register"></th>
		</tr>
	</table>
	</form>
	</center>
{% include 'sub_footer.html' %}
{% include 'footer.html' %}