{% include 'shop_header.html' %}
<div style="background:url('/static/images/shop.jpg') ;height: 100%; width: 100%; background-size: cover;">
<section class="site-section">
      <div class="container">
        <div class="row justify-content-center" data-aos="fade-up">
          <div class="col-lg-6 text-center heading-section mb-5">
            <br><br>
            <h2 class="text-black mb-2">Welcome to Pet care</h2>
            <h3>Pet care</h3>
            <p>WE LOVE PETS</p>
          </div>
        </div>

        <div align="center" class="row hover-1-wrap mb-5 mb-lg-0">
          <div class="col-12">
            <div class="row">
              <div class="mb-4 mb-lg-0 col-lg-6 order-lg-2" data-aos="fade-right">
                <a href="#" class="hover-1">
                  <img src="/static/images/petshop.jpg" alt="Image" class="img-fluid">
                </a>
              </div>
              <div style="background: white;
  -webkit-box-shadow: 20px 0 0 #000, -20px 0 0 #000;
  box-shadow: 20px 0 0 blue, -20px 0 0 blue;" class="col-lg-5 mr-auto text-lg-right align-self-center order-lg-1" data-aos="fade-left">
                
              </div>
            </div>
          </div>
        </div>
</section>
{% include 'footer.html' %}